<!DOCTYPE htmL>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://i.imgur.com/146bcmw.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FitNit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="https://i.imgur.com/146bcmw.png"></img></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="<%= typeof page !== 'undefined' && page === 'workout-programs' ? 'active' : '' %>"><a href="/workout-programs">Home</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser) { %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login"><i class="fa fa-user-circle-o"></i> Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register"><i class="fa fa-user-plus"></i> Register</a></li>
                <% } else { %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o"></i> Signed in as, <%= currentUser.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/measurements">Measurements</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Programs</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/account/<%= currentUser._id %>/account-settings">Account Settings</a></li>
                    </ul>
                  </li>
                  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                <% } %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!--Use bootstrap to style the alert-->
        <div class="container">
            <!--Even when error is empty it is still not set to undefined it is set to [] (empty array which is not falsfy)-->
            <!--Thus we need to check for length also-->
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        <div class="container">