<% include ../partials/header %>
    <div class="well">
        <div class="content">
            <p><a href="/workout-programs">Home</a> > <a href="/workout-programs/<%= program.cartegory %>" > <%= program.cartegory.charAt(0).toUpperCase() + program.cartegory.slice(1) %></a> > <%= program.name %></p>
            <h1><%= program.name %></h1>
            <p>
                <em>Submitted by: <%= program.author.username %>, <%= moment(program.createdAt).fromNow() %></em>
            </p>
            <p><%- program.description %></p>
            <table id="showTable" class="table table-hover table-striped">
                <col width="50px">
                <col width="700px">
                <col width="300px">
                <col width="300px">
                <thead>
                    <tr>
                        <th></th>
                        <th>Exercise</th>
                        <th>Sets</th>
                        <th>Reps</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < program.exercises.length; i++) { %>
                        <tr>
                            <td></td>
                            <td><%= program.exercises[i] %></td>
                            <td><%= program.sets[i] %></td>
                            <td><%= program.reps[i] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% if(currentUser && program.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning btn-md" href="/workout-programs/<%= program._id %>/edit">Edit <i class="fa fa-cog"></i></a></td>
                <form class="delete-form" action="/workout-programs/<%= program._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete <i class="fa fa-trash"></i></button>
                </form>
            <% } %>
        </div>
    </div>
    <div class="well">
        <div class="content">
            <% if(program.comments.length === 1) { %>
                <h3><%= program.comments.length %> Comment</h3>
            <% } else { %>
                <h3><%= program.comments.length %> Comments</h3>
            <% } %>
            <form action="/workout-programs/<%= program._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea type="text" name="comment[text]" placeholder="Please be respectful, civil, and constructive when commenting." maxlength="3000"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary btn-block comment-add-btn">Save!</button>
                </div>
            </form>
            <% program.comments.forEach(function(comment){ %>
                <div class="row">
                    <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <div class="col-md-12 comments-border-owner">
                    <% } else {%>
                        <div class="col-md-12 comments-border">
                    <% } %>
                        <strong class="author-blue"><%= comment.author.username %></strong>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p>
                            <%- comment.text %> 
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a href="/workout-programs/<%= program._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
                            <form class="delete-form" action="/workout-programs/<%= program._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>    <!--end of forEach-->
        </div>
    </div>
<% include ../partials/footer %>