<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center"><%= moment(measurement.createdAt).format("MMM DD, YYYY") %> Measurements</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/measurements/<%=measurement._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Date</label>
                    <input class="form-control" type="date" name="measurement[date]" value="<%= moment(measurement.createdAt).format('YYYY-MM-DD') %>" required>
                </div>
                <div class="form-group">
                    <label for="name">Height</label>
                    <input class="form-control" type="number" name="measurement[height]" placeholder="60 in" min="1" max="108" step="1" value="<%= measurement.height %>">
                </div>
                <div class="form-group">
                    <label for="name">Weight</label>
                    <input class="form-control" type="number" name="measurement[weight]" placeholder="120 lbs" min="1" max="999" step="0.1" value="<%= measurement.weight %>" required>
                </div>
                <div class="form-group">
                    <label for="name">Chest</label>
                    <input class="form-control" type="number" name="measurement[chest]" placeholder="38 in" min="1" max="70" step="1" value="<%= measurement.chest %>">
                </div>
                <div class="form-group">
                    <label for="name">Waist</label>
                    <input class="form-control" type="number" name="measurement[waist]" placeholder="34 in" min="1" max="70" step="1" value="<%= measurement.waist %>">
                </div>
                <div class="form-group">
                    <label for="name">Hip</label>
                    <input class="form-control" type="number" name="measurement[hip]" placeholder="20 in" min="1" max="70" step="1" value="<%= measurement.hip %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/measurements">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>