<% include ../partials/header %>
    <header class="jumbotron">
            <div class="container">
                <h1>Welcome to FitNit!</h1>
                <p>Here are your measurements</p>
                <!--we are using a block p just for spacing-->
                <p>
                    <a class="btn btn-primary btn-large" href="/measurements/new">Add New Measurement</a>
                </p>
            </div>
    </header>
    <div class="container">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Weight</th>
                </tr>
            </thead>
                <tbody>
                    <% for(var i = 0; i < measurements.length; i++) { %>
                        <tr>
                            <td scope="row"><%= i+1 %></td>
                            <td><%= moment(measurements[i].createdAt).format("MMM DD, YYYY") %></td>
                            <td><%= measurements[i].weight %><a class="btn btn-success btn-sm pull-right" href="/measurements/<%= measurements[i]._id %>">More Info <i class="fa fa-arrow-circle-right "></i></a></td>
                        </tr>
                    <% } %>
                </tbody>
        </table>
        <canvas id="myChart" width="600" height="600"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    
    <!--Create weight line chart-->
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: [],
            datasets: [
                {
                    label: "Weight",
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,75,192,0.1)",
                    borderColor: "rgba(75,75,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,72,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,72,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                }
            ],
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                day: 'MMM DD'
                            }
                        },
                    }]
                }
            }
        };
        
        <% measurements.forEach(function(measurement){ %>
            data.labels.push('Jan');
            data.datasets[0].data.push(<%= measurement.weight %>);
        <% }) %>
       
       var myChart = new Chart(ctx, {
           type: 'line',
           data: data
       });
    </script>
<% include ../partials/footer %>