<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome, <%= currentUser.username %>!</h1>
            <p>Here are your measurements</p>
            <p>
                <a class="btn btn-primary btn-large measurement-btn" href="/measurements/new">Add New Measurement</a>
            </p>
        </div>
    </header>
    <div class="accountTable">
        <table id="measurementTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < measurements.length; i++) { %>
                    <tr>
                        <td scope="row"><%= i+1 %></td>
                        <td><%= moment(measurements[i].createdAt).format("MMM DD, YYYY") %></td>
                        <td><%= measurements[i].weight %><a class="btn btn-success btn-sm pull-right" href="/measurements/<%= measurements[i]._id %>">More Info <i class="fa fa-arrow-circle-right "></i></a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <canvas id="myChart" width="600" height="600"></canvas>
    
    <!--Moment.js CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <!--Charts.js CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!--Bootstrap DataTable JS CDN-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
           $('#measurementTable').DataTable();
       });
    </script>
    
    <!--Create weight line chart-->
    <script>
        // Returns a date used for our x-axis labels
        function newDate(day, month) {
            console.log(moment().month(month).date(day));
            return moment().month(month).date(day);
        }
        
        // Get max weight
        var max = 0;
        <% measurements.forEach(function(measurement){ %>
            if(<%= measurement.weight %> >= max) {
                max = <%= measurement.weight %>;
            }
        <% }) %>
        
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: [],
            datasets: [
                {
                    label: "Weight",
                    fill: true,
                    lineTension: 0.4,
                    backgroundColor: "rgba(60,196,124,0.2)",
                    borderColor: "rgba(255,255,255,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(255,255,255,1)",
                    pointBackgroundColor: "#3CC47C",
                    pointBorderWidth: 3,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(255,255,255,1)",
                    pointHoverBorderColor: "rgba(60,196,124,1)",
                    pointHoverBorderWidth: 3,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                },
                {
                    label: "Chest",
                    fill: true,
                    lineTension: 0.4,
                    backgroundColor: "rgba(252,147,65,0.5)",
                    borderColor: "rgba(255,255,255,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(255,255,255,1)",
                    pointBackgroundColor: "#FC9341",
                    pointBorderWidth: 3,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(255,255,255,1)",
                    pointHoverBorderColor: "rgba(252,147,65,1)",
                    pointHoverBorderWidth: 3,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                },
                {
                    label: "Waist",
                    fill: true,
                    lineTension: 0.4,
                    backgroundColor: "rgba(162,239,255,0.5)",
                    borderColor: "rgba(255,255,255,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(255,255,255,1)",
                    pointBackgroundColor: "#A2EFFF",
                    pointBorderWidth: 3,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(255,255,255,1)",
                    pointHoverBorderColor: "rgba(162,239,255,1)",
                    pointHoverBorderWidth: 3,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                },
                {
                    label: "Hip",
                    fill: true,
                    lineTension: 0.4,
                    backgroundColor: "rgba(220,20,60,0.5)",
                    borderColor: "rgba(255,255,255,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(255,255,255,1)",
                    pointBackgroundColor: "#DC143C",
                    pointBorderWidth: 3,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(255,255,255,1)",
                    pointHoverBorderColor: "rgba(220,20,60,1)",
                    pointHoverBorderWidth: 3,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                }
            ]
        };
        
        var options = {
            title: {
                display: true,
                fontSize: 20,
                fontFamily: 'Raleway',
                text: 'Measurements'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip : true,
                    },
                    type: 'time',
                    time: {
                      displayFormats: {
                        'millisecond': 'M/DD',
                        'second': 'M/DD',
                        'minute': 'M/DD',
                        'hour': 'M/DD',
                        'day': 'M/DD',
                        'week': 'M/DD',
                        'month': 'M/DD',
                        'quarter': 'M/DD',
                        'year': 'M/DD',
                      },
                      unitStepSize: 1,
                      unit: 'day',
                    },
                    gridLines : {
                        display : false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        max: max + 70,
                        min: 0,
                        stepSize: 10,
                    }
                }]
            }
        }
        
        <% measurements.forEach(function(measurement){ %>
            // This is for string format below is for date obj
            // var date = month + "/" + day;
            // data.labels.push(date);
        
            var month = <%= moment(measurement.createdAt).format("MM").toString() %>;
            var day = <%= moment(measurement.createdAt).format("DD") %>;
            data.labels.push(newDate(day, month-1));
            data.datasets[0].data.push(<%= measurement.weight %>);
            data.datasets[1].data.push(<%= measurement.chest %>);
            data.datasets[2].data.push(<%= measurement.waist %>);
            data.datasets[3].data.push(<%= measurement.hip %>);
        <% }) %>
       
       var myChart = new Chart(ctx, {
           type: 'line',
           data: data,
           options: options
       });
    </script>
    </body>
</html>